body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.swap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 400px;
}

body.dark-mode .swap-container {
  background-color: #333333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.dark-mode input {
  background-color: #444;
  color: #ffffff;
}

.balance {
  font-size: 0.9rem;
  color: #888;
  margin-top: 5px;
}

body.dark-mode .balance {
  color: #cccccc;
}

.swap-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  user-select: none;
  outline: none;
}

body.dark-mode .swap-button {
  background-color: #6a1b9a;
}

.swap-button:focus,
.swap-button:active {
  outline: none;
}

.invert-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.invert-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

body.dark-mode .invert-button {
  border-color: #6a1b9a;
  background-color: #6a1b9a;
  color: #fff;
}

.dark-mode-toggle {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
  background: none;
  border: none;
  outline: none;
}

.icon-size {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

body.dark-mode .dark-mode-toggle .icon-size {
  color: #ffd700; /* Cor do ícone de sol no modo escuro */
}

body:not(.dark-mode) .dark-mode-toggle .icon-size {
  color: #333333; /* Cor do ícone de lua no modo claro */
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.input-group label {
  margin-right: 10px;
}

.input-group img {
  margin-right: 10px;
}
