/* Estilos para o dark mode */
body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .container {
  background-color: #2b2b2b;
  color: #ffffff;
}

.dark-mode .swap-container {
  background-color: #333;
  border-color: #444;
}

.dark-mode input {
  background-color: #444;
  color: #fff;
}

.dark-mode button {
  background-color: #555;
  color: #fff;
}

/* Botão de Dark Mode fixado fora da navbar */
.dark-mode-toggle {
  position: fixed;
  top: 32px; /* Ajuste a posição vertical */
  right: 20px; /* Ajuste a posição horizontal */
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1001; /* Garante que o botão fique acima de outros elementos */
}

.swap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance {
  font-size: 0.9rem;
  color: #888;
  margin-top: 5px;
}

.invert-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.invert-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.swap-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

