.navbar {
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.navbar .account-section {
  display: flex;
  align-items: center;
}

.navbar .account-address {
  color: white;
  font-size: 1rem;
  margin-right: 15px;
}

.dark-mode-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

body.dark-mode .navbar {
  background-color: #003b5c;
}

body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .account-address {
  color: #ffffff;
}

body.dark-mode .dark-mode-toggle {
  color: #ffffff;
}

.navbar button:focus,
.navbar a:focus,
.dark-mode-toggle:focus {
  outline: none;
}